@model About
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="About" asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.ImageFile">Image</label>
                    <img style="width: 100px" src="~/Uploads//@Model.Image" alt="Alternate Text" />
                    <input class="form-control" asp-for="@Model.ImageFile">
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title">Title</label>
                    <input class="form-control" asp-for="@Model.Title">
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    <input class="form-control" type="hidden" asp-for="@Model.Id">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SubTitle">SubTitle</label>
                    <textarea id="editor" class="form-control" asp-for="@Model.SubTitle"></textarea>
                    <span asp-validation-for="@Model.SubTitle" class="text-danger"></span>
                    <input class="form-control" type="hidden" asp-for="@Model.Id">
                </div>

                <button type="submit" class="btn btn-success">Update</button>
                <button type="submit" class="btn btn-dark" asp-controller="About" asp-action="Index">Back to List</button>

            </form>
        </div>
    </div>
</div>