@model CustomUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="CustomUser" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.ImageFile">Image</label>
                    <input class="form-control" asp-for="@Model.ImageFile">
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <input class="form-control" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Title">Title</label>
                    <input class="form-control" asp-for="@Model.Title">
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="submit" class="btn btn-dark" asp-area="admin" asp-controller="CustomUser" asp-action="Index">Back to List</button>
            </form>
        </div>
    </div>
</div>

