@model VmRestaurant
@{
    ViewData["Title"] = "Index";
}

<div class="main-wrapper">
    <!--Title Bar -->
    <partial name="_bannerpartial" model="Model.Banner" />

    <!-- Content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- Search -->
                @*<div class="col-md-12 grid-full-width page-search mb-3">
                    <div class="main-search-input mt-0">
                        <form asp-controller="Restaurant" asp-action="Index" method="get" style="display: flex; ">
                            <div class="col-lg-8 col-sm-6">
                                <div class="form-group">
                                    <input asp-for="@Model.SearchData" type="text" placeholder="Enter Name of Restaurant" class="form-control" style="color:black;">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-right">
                                <button type="submit" class="btn main-search-btn btn-radius btn-lg btn-primary text-white" style="margin-left: 350px"><span class="btn-inner--text">Search</span></button>
                            </div>
                        </form>
                    </div>
                </div>*@
                <!-- Search Section / End -->
                <div class="col-md-12">
                    <!-- Sorting - Filtering Section / End -->
                    <div class="row">
                        <!-- Listing Item -->
                        @foreach (var item in Model.Restaurants)
                        {
                            <div class="col-lg-12 col-md-12 mb-5">
                                <div class="listing-item-container list-layout">
                                    <div class="listing-item">
                                        <!-- Image -->
                                        <div class="listing-item-image">
                                            <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@item.Id"><img src="~/assets/@item.RestaurantImages.FirstOrDefault()" alt=""></a>
                                        </div>
                                        <!-- Content -->
                                        <div class="listing-item-content">
                                            <span text-uppercase">
                                                @if ((item.StartTime.Hour < DateTime.Now.Hour && item.StartTime.Minute <= DateTime.Now.Minute) && (item.EndTime.Hour > DateTime.Now.Hour && item.EndTime.Minute <= DateTime.Now.Minute))
                                                {
                                                    <span class="badge badge-pill list-banner badge-success" style="font-size: 20px">Open</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-pill list-banner badge-danger" style="font-size: 20px">Closed</span>}
                                            </span>
                                            <div class="listing-item-inner">
                                                <!-- <DirectlistRating [rate]="list.rating"></DirectlistRating> -->
                                                <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@item.Id">
                                                    <h3>@item.Name</h3>
                                                </a>
                                                <div class="address-bar"><small>@item.Adress</small> </div>
                                                @foreach (var tag in item.RestaurantToTags)
                                                {
                                                    <div class="mt-3"><span class="badge badge-pill badge-primary text-uppercase badge-cat">@tag.Tag.Name</span></div>}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>}
                        <!-- Listing Item / End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>